# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# Eclipse
.metadata/
.settings/
.project
.classpath
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
.factorypath

# OS
.DS_Store
Thumbs.db

# Test reports
surefire-reports/
